body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.logo {
  text-align: center;
}

.left-card {
  float: left;
  flex: 2;
}

.right-card {
  float: right;
  flex: 2;  
}

.card {
  display: inline-block;
}

.tile-image {
  height: 200px;
}


@media (max-width: 600px){
  div {
    height: 200px;
    width: 200px;
  }
}